{% extends "base.html" %}
{% block content %}
    <h1>Error 404</h1>
    <p>The requested page couldn't be found!<br>The page might have been removed or is temporarily unavailable.</p>
    <img src="/assets/images/pages/404/404.jpg" alt="Error Error">
    <hr>
    <div class="home">
        <p> <a href="/" title="Home Page">Back</a> </p>
    </div>
{% endblock content %}