{% extends "base.html" %}
{% block content %}

<div class="bar">
    <div class="header">
        <img src="/assets/images/icons/logo.png" alt="Metis Linux Logo" class="logo">
        <h2>Metis Linux</h2>
    </div>
    <p>An artix linux based Operating System for chads!</p>    
    <cite>
        systemd-less, super smooth, ultra minimalistic, resource efficient, highly customizable and absolute performance oriented
    </cite>
</div>
<hr>
<div class="main-container">
    <div class="text">
        <ul class="links">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/download">Download</a>
            </li>
            <li>
                <a href="/installation-guide">Installation Guide</a>
            </li>
            <li>
                <a href="https://wiki.metislinux.org">Wiki</a>
            </li>
            <li>
                <a href="/contribute" title="Support Metis by any means!">Contribute Us</a>
            </li>
            <li>
                <a href="/contact" title="Any queries, suggestions, feedbacks, bugs, reports? Leave Here">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="main-image">
        <img src="/assets/images/gifs/unstopable_metis.gif" alt="unstopable metis">
    </div>
</div>
<hr>
<div class="home">
    <center>
        <a href="/respect"  title="Thanking everyone who made possible to create metis">Respect</a>
        <a href="/key-bindings" title="Default Key Bindings in Metis">Key Bindings</a>
    </center>
</div>
{% endblock content %}