{% extends "base.html" %}
{% block content %}
<div id="wiki">
    <h2 id="wiki-title">{{ page.title }}</h2>
    {% if page.date %}
    <small class="wiki-date">{{ page.date }}</small>
    {% endif %} 
    {{ page.content | markdown | safe }}
</div>  
{% endblock %}